#rating_submit_button {
    align-self: flex-start;

    background-color: hsl(24, 97%, 53%);
    color: hsl(0, 0%, 100%);

    border: none;
    border-radius: 30px;

    width: 100%;
    height: 60px;

    overflow: hidden;

    &:hover {
        background-color: hsl(0, 0%, 100%);
        color: hsl(24, 97%, 53%);
    }
}